<ion-content class="container">
  <ion-text color="primary">
    <h1>Welcome {{userName}}</h1>
  </ion-text>
  <ion-icon name="person-circle-outline"></ion-icon>
  <article class="text">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio,
      delectus adipisci dicta a molestiae, harum sed optio aspernatur at in
      assumenda velit cum nesciunt fugit, ipsum perferendis quos explicabo quam!
      Voluptatum fuga animi enim, voluptate voluptates dolor minus perferendis
      minima amet! Ipsum doloribus corrupti iste eum atque alias delectus eos
      dolores ipsa eligendi facere commodi id placeat modi, nobis assumenda!
      Nemo vitae quo numquam impedit, ad aspernatur aliquid molestiae magni
      incidunt repellat officiis, deleniti repellendus, vero voluptatibus
      inventore! Nemo quod non perferendis ipsa ad nesciunt ea esse quas
      reiciendis illum.
    </p>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestias nisi
      accusantium consequatur sunt, doloremque cumque perspiciatis officiis
      fugiat corrupti libero nihil nobis est ea aperiam nemo distinctio
      necessitatibus totam tempora? Assumenda aliquam cumque optio sed hic
      quidem est magnam, soluta voluptas unde nisi esse consectetur, ipsam a
      impedit sapiente ipsum tempora accusamus molestiae accusantium aperiam
      nemo! Quo accusamus at voluptas! Saepe distinctio commodi et laboriosam
      dolores molestiae quae obcaecati, quo quas officia dolore illo ea veniam,
      earum optio impedit similique maiores explicabo, inventore consequatur
      cupiditate. Et magni eveniet quia saepe.
    </p>
  </article>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col class="ion-text-left">
          <ion-button color="danger" fill="outline" (click)="logout()"
            >Logout</ion-button
          >
        </ion-col>
        <ion-col class="ion-text-right">
          <ion-button color="primary" fill="outline" [routerLink]="['/search']"
            >Search</ion-button
          >
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
