.container {
  text-align: center;
  display: grid;
  place-content: center;
  margin: auto;
  height: 100vh;
}

ion-icon {
  width: 150px;
  height: 150px;
}

.text {
  width: 80%;
  max-width: 800px;
  margin: auto;
  text-align: start;
}

ion-footer {
  width: 90%;
  max-width: 400px;
  margin: auto;
  text-align: center;
}

.flex-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
