<ion-header class="ion-no-border">
  <ion-toolbar>
    <a [routerLink]="['/dashboard']"
      ><ion-icon name="chevron-back-outline"></ion-icon> <span>Back</span></a
    >
    <ion-title>Search</ion-title>
  </ion-toolbar>
  <ion-searchbar
    [(ngModel)]="searchTerm"
    (ionChange)="filterCities()"
    (ionClear)="clearFilter()"
  ></ion-searchbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let city of citiesFiltered">
      <ion-label>{{city}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
