.container {
  text-align: center;
  height: 100vh;
  display: grid;
  place-content: center;
}

ion-item {
  width: 100%;
  max-width: 400px;
  margin: 1.5em auto 0;
  border-color: transparent;
  --padding-start: 0;
  --inner-padding-end: 0;
  --background: transparent;
}

ion-input {
  margin-top: 1em;
  border: solid 1px black;
}

.sc-ion-input-md-h,
.sc-ion-input-ios-h {
  --padding-start: 8px;
}

ion-button {
  margin-top: 6em;
  --border-radius: 45%;
}

.warning {
  background-color: lightcoral;
}
